.small-float-image {
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}
.small-float-image img{
  height: 150px;
}
.small-image img{
  height: 150px;
}
.medium-float-image {
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}
.medium-float-image img{
  height: 300px;
}
.medium-image img{
  height: 300px;
}
.large-float-image {
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}
.large-float-image img{
  height: 400px;
}
.large-image img{
  height: 400px;
}

.time {
  color: #0000FF;
  display: inline;
}

.border-image {
  border: 1px solid black;
}
