.small-float-image {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.small-float-image img{
  width: 350px;
}

.small-image img{
  width: 350px;
}

.medium-float-image {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.medium-float-image img{
  width: 550px;
}

.medium-image img{
  width: 550px;
}

.large-float-image {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.large-float-image img{
  width: 750px;
}

.large-image img{
  width: 750px;
}

.time {
  color: #0000FF;
  display: inline;
}

.border-image {
  border: 1px solid black;
}

.damage {
  color: #ff0000;
  display: inline;
}
